html{
    background-color: rgb(162, 187, 187);
    word-spacing: 3pt;
}
h1{
    color:rgb(3, 2, 0);
    background-color: bisque;
    text-align: center;
    font-size:30pt;
}
p{
    font-size: 28px;
    font-weight: 800;
    background-color: aliceblue;
}
.adi{
    font-size: 22px;
    font-weight: 800;
}
.adi:hover{
    background-color: rgb(161, 18, 20);
    color: white
}
h4{
    font-size: 18pt;
    font-weight: 800;
}
.hi{
    font-size: 19pt;
    
}
#dob{
    background-color:rgb(216, 224, 198);
}
h3,h2{
    font-size: 29pt;
    color: rgb(76, 128, 184);
    background-color:rgb(194, 228, 217)
}
ul{
    font-size: 30px;
    font-weight:700
}
#film{
    background-color: rgb(181, 131, 131);
}



